<header class="site-header">
  <div class="row">

    <div class="column medium-column-35 large-column-25">
      {{#if @blog.logo}}
        <h1 class="site-title"><a href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}"></a></h1>
      {{else}}
        <h1 class="site-title"><a href="{{@blog.url}}">{{@blog.title}}</a></h1>
      {{/if}}
      <p class="site-description">{{@blog.description}}<br>Для связи <a href="mailto:biz@themarfa.name">biz@themarfa.name</a></p>
    </div>

    <div class="column">
      <form class="search-form">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Adaptive -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6070814285497936"
     data-ad-slot="3487354804"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
      </form>
    </div>

  </div>
</header>
