<header class="site-header">
  <div class="row">

    <div class="column medium-column-35 large-column-25">
      {{#if @blog.logo}}
        <h1 class="site-title"><a href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}"></a></h1>
      {{else}}
        <h1 class="site-title"><a href="{{@blog.url}}">{{@blog.title}}</a></h1>
      {{/if}}
      <p class="site-description">{{@blog.description}}</p>
    </div>

    <div class="column">
      <form class="search-form">
        <script>
  (function() {
    var cx = '001606015601898518603:yzedigpcvsy';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search>
      </form>
    </div>

  </div>
</header>
