{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

<main class="site-main wow fadeIn" data-wow-duration=".8s" role="main">

  {{! Search results }}
  <section id="results"></section>

  {{! Everything inside the #post tags pulls data from the post }}
  {{#post}}

    {{#if feature_image}}
      <section class="featured-image">
        <img src="{{img_url feature_image}}" alt="{{title}}">
      </section>
    {{/if}}

    <div class="row">
      <div class="column medium-column-65">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Adaptive -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6070814285497936"
     data-ad-slot="3487354804"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
        <article class="{{post_class}}">
          <header class="entry-header">
            {{#primary_author}}
              <p class="entry-author">Автор: <a href="{{url}}">{{name}}</a></p>
            {{/primary_author}}
            <h1>{{title}}</h1>
            <time class="entry-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
          </header>

          <section class="entry-content">
            <p class="entry-tags">{{tags prefix="Теги: "}}</p>
<!-- Go to www.addthis.com/dashboard to customize your tools --> <div class="addthis_tipjar_inline"></div>
            {{content}}
<iframe src="https://money.yandex.ru/quickpay/shop-widget?writer=seller&targets=%D0%97%D0%B0%20%D0%BA%D1%80%D1%83%D1%82%D1%8B%D0%B5%20%D1%81%D1%82%D0%B0%D1%82%D1%8C%D0%B8%20%D0%BD%D0%B0%20%D1%81%D0%B0%D0%B9%D1%82%D0%B5&targets-hint=&default-sum=100&button-text=14&hint=&successURL=&quickpay=shop&account=410011658059150" width="423" height="222" frameborder="0" allowtransparency="true" scrolling="no"></iframe>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Adaptive -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6070814285497936"
     data-ad-slot="3487354804"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
          </section>
        </article>

        <section class="read-next-story">
          <div class="row">

            <div class="column">
              {{#next_post}}
                <div class="next">
                  <p>Следующий пост</p>
                  <h3><a href="{{url}}">{{title}}</a></h3>
                </div>
              {{/next_post}}
            </div>

            <div class="column">
              {{#prev_post}}
                <div class="prev">
                  <p>Предыдущий пост</p>
                  <h3><a href="{{url}}">{{title}}</a></h3>
                </div>
              {{/prev_post}}
            </div>

          </div>
        </section>

        {{! The tag below includes comments - partials/comments.hbs }}
        {{> comments}}
      </div>

      <div class="column medium-offset-5">

        {{> sidebar}}

      </div>
    </div>{{! End .row }}

  {{/post}}

</main>
